* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Lato', 'Arial', sans-serif;
    height: 100vh;
    width: 100vw;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    /* color: rgb(236, 176, 9) */
}

.sub__body {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
}

.header-box {
    min-height: 80px;
    background-color: #006699;
    border-bottom: 1px solid #fff;
}

.header-sub {
    height: 8.5vh;
    background-color: #006699;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 100;
    position: relative;
}

.title {
    font-size: 100%;
    color: #fff;
    /* float: left; */
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.title h1 {
    font-weight: 100i;
    letter-spacing: 4px;
    margin: 0px;
    padding: 0px;
}

.title span {
    font-weight: 100i;
    margin: 0px;
    padding: 0px;
}

.map__area {
    min-height: 93vh;
    max-width: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: cover;
}

#viewDiv {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    position: relative;
}

.dhec__logo {
    height: 5rem;
    width: 5rem;
    /* background-color: #F05C5A; */
    position: absolute;
    top: 90%;
    left: 1%;
    /* position: fixed; */
}

.dhec__logo img {
    /* height: 100%; */
    width: 100%;
}

.volume__calculator {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #006699;
    height: 30vh;
    width: 20rem;
    bottom: -10px;
    left: 0;
    z-index: 5;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    display: none;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.7)
}

.vol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

.vol__head {
    /* background-color: #99CC00; */
    font-size: 18px;
    margin-right: 6rem;
    /* flex: 1; */
}

.vol__head span {
    font-size: 12px;
    /* background-color: #99CC00;
    flex: 1; */
}


/* .vol__instructions {
    background-color: rgb(0, 180, 204);
    flex: 1;
} */


/* .contour-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px auto;
    width: 100%;
    font-weight: 400
    /* background-color: rgb(0, 180, 204); */


/* } */


/* .contour-box fieldset {
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: space-between;
    flex-direction: row; */


/* }  */


/* '#ddcbbb', negativeFillColor: '#99d0f3' */


/* background-color: #F05C5A; */


/* background-color: #006699; */


/* .main-panel {
    background-color: #99d0f3;
    width: 95%;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
} */

table {
    color: #fff;
    width: 90%;
    margin: 5px auto;
    font-size: 0.5rem;
}

table,
th,
td {
    /* border: 1px solid black; */
    border: 1px solid #fff;
    border-collapse: collapse;
}

th,
td {
    padding: 2px;
    text-align: center;
}

table#t01 tr:nth-child(even) {
    /* background-color: #F05C5A */
}

table#t01 tr:nth-child(odd) {
    /* background-color: #99CC00; */
}

table#t01 th {
    /* background-color: #FFC65A; */
    /* color: white; */
    color: #fff;
    font-size: 12px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-box__calc {
    color: white;
    border: 1px solid #fff;
    padding: 7px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #006699;
    /* border: none; */
    margin-right: 8px;
    transition: all .2s;
}

.button-box__reset {
    background-color: #006699;
    color: white;
    border: 1px solid #fff;
    padding: 7px 8px;
    border-radius: 3px;
    /* border: none; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.button-box__calc:hover,
.button-box__reset:hover {
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
}

.button-box__calc:active,
.button-box__reset:active {
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}

.results {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.results-text {
    margin-bottom: 1rem;
    color: #fff;
}

.chart {
    height: 30vh;
    display: none;
}

.chart-head {
    height: 40px;
    width: 100%;
    background-color: #006699;
    border-top: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* margin-top: -17px; */
    position: relative;
    z-index: 12;
    padding: 4px;
}

.chart-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /* background-color: aqua; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.graph {
    flex: 1;
    width: 100vw;
    height: 220px;
    background-color: #006699;
    /* color:rgb(248, 8, 8); */
    /* color:rgb(203, 236, 15); */
}

.btn__year,
.btn__calculator {
    border: 1px solid #fff;
    color: #fff;
    background-color: #006699;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

.btn__year:hover,
.btn__calculator:hover {
    color: #99CC00;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
}

.btn__year:active,
.btn__calculator:active {
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}

.btn__calculator-active {
    background-color: #F05C5A;
}

.btn__year {
    margin-right: 5px;
    padding: 8px 12px 8px 12px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.btn__calculator {
    margin-right: 20px;
    padding: 2px 10px 2px 10px;
    font-size: 60%;
    transition: all .2s;
}

.left__panel {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.right__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn__year:focus {
    outline: none;
}

.btn__close {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    font-size: 18px;
}

.btn__close:hover {
    background-color: #F05C5A;
    font-size: 20px;
}

.profile__year {
    font-size: 12px;
    margin-right: 20px;
    padding-left: 10px;
}

.nav {
    margin: 30px 0 15px 0;
    color: rgb(243, 247, 243);
    margin-right: 20px;
}

ul {
    list-style: none;
    display: block;
}

ul li {
    float: left;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
}

ul li:last-child {
    margin-right: 0px;
}

.selection ul,
.download ul {
    width: 200px;
    z-index: 1000;
    position: absolute;
    opacity: 0.9;
    margin-top: 0.5px;
    padding-top: 27px;
    background-image: linear-gradient(180deg, transparent 0%, transparent 30px, #006699 30px, #006699 100%);
}

.selection ul li,
.download ul li {
    width: 200px;
    display: inline-block;
    margin: 1px 0;
    font-size: 14px;
    font-weight: 100i;
    color: #fff;
    padding: 4px 5px;
    border: 1px solid white;
    /* font-weight: 700 !important; */
    border-bottom: 1px solid rgb(230, 224, 224);
}

.selection ul li:hover,
.download ul li:hover {
    background-color: #FFF;
    color: rgb(32, 31, 31) !important;
}

.item ul li {
    display: none;
    /* color: #00ffff */
}

.item:hover {
    color: #F05C5A;
    font-weight: 300i;
}

.item:hover .child li {
    color: rgb(235, 235, 243);
    display: block;
}


/* 
ESRI */

.esri-widget--button {
    background-color: #006699;
    color: aliceblue;
    margin: 3px;
}

.esri-widget .esri-interactive {
    background-color: #006699;
    border-radius: 13px;
}

.form__group {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.form__radio-group {
    display: inline-block;
    margin: 5px auto;
    width: 45%;
    position: relative;
}


/* @media only screen and (max-width: 56.25em) {
      .form__radio-group {
        width: 100%;
        margin-bottom: 2rem; } } */

.form__radio-input {
    display: none;
}

.form__radio-label {
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
    font-weight: 400;
    width: 100%;
    vertical-align: middle;
}

.direction {
    font-size: 10px;
}

.upper {
    border: 5px solid #F05C5A;
}

.lower {
    border: 5px solid #32bd0f;
}

.form__radio-button {
    height: 1.8rem;
    width: 1.8rem;
    /* border: 5px solid #5557c5; */
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 10px;
    margin-right: 15px;
}

.form__radio-button::after {
    content: "";
    display: block;
    height: 1.0rem;
    width: 1.0rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #006699; */
    opacity: 0;
    transition: opacity .2s;
}

.upper::after {
    background-color: #F05C5A;
}

.lower::after {
    background-color: #32bd0f;
}

.form__radio-input:checked~.form__radio-label .form__radio-button::after {
    opacity: 1;
}


/* 
.upper-box {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 1px;
    /* background-color: rgb(204, 0, 85); */


/* width: 40%; */


/* } */


/* .lower-box {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 1px; */


/* background-color: rgb(92, 204, 0); */


/* width: 40%; */


/* } */